Repository ethanuppal/fernjit, pull requests merged in 2025-01, with the labels that each got.

#25 ci(lint): Improve PR title linting
  .github/workflows/pr.yaml
Labels: Infra: CI

#26 ci(perf): Don't use incremental builds in CI
  .github/workflows/lint.yaml
Labels: Infra: CI

#28 fix(ci): Check formatting and run tests in CI
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
  Cargo.lock
  Makefile
  fern/src/vm.rs
Labels: Code: VM, Infra: CI

#17 ci: Add VM code coverage
  .github/workflows/coverage.yaml
  Makefile
  README.md
Labels: Infra: CI

#29 ci: Fix CI on main
  .github/workflows/coverage.yaml
Labels: Infra: CI

#23 feat: Add support for structured functions
  fern/src/arch.rs
  fern/src/op.rs
  fern/src/vm.rs
Labels: enhancement, Code: VM

#31 fix: import sorting
  .github/labeler.yaml
  fern/src/arch.rs
  fern/src/op.rs
  rustfmt.toml
Labels: Code: VM, Infra: Tooling
